* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1b1b1c;
}

p {
    font-size: small;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 50px;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  color:white;
  font-family: monospace;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
  color: white;
  font-weight: bolder;
}

input[type="text"] {
  padding: 5px;
  margin-bottom: 10px;
}

button {
  padding: 5px;
  background-color: #3d2a83;
  color: white;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

button:hover {
    background-color: #facc04;
    transition: 0.3s;  
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  background-color: azure
}

th {
  background-color: #be1111;
  color: white;
}

tr:hover {
  background-color: #f9cc02;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

